.navContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navLogo {
  width: 100%;
  text-align: center;
}

.navLogo img {
  width: 130px;
  padding: 15px;
}

.navBar {
  background-color: #EDECE8;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 100%;
}

.navItems {
  display: flex;
  gap: 50px;
  justify-content: center;
}

.navItems li {
  cursor: pointer;
  font-size: 0.813rem;
}

.navItems li:hover {
  color: #C1CDBF;
}

@media only screen and (max-width: 600px) {
  .navItems {
    flex-wrap: wrap;
  }
}